
body{
    width: auto;
    height: 100vh;
    background-image: url("bmi.png");
    background-size: cover;
    background-repeat:no-repeat;
}
div {
     width: 50%;
     margin: auto;
     height: auto;
     background-color:grey;
     padding: 1rem;
     border-radius: 0.5rem;
}
h2,p{
    color:white;
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color:#d60a30d6;
  color: white;
}

.previous {
  background-color:#d60a30d6;
  color: black;
}

.round {
  border-radius: 50%;
}
